<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakehouse</title>
</head>
<html>

<body>
    <div style="font-family: 'Open Sans', sans-serif; font-family: 14px; line-height: 1.8; color: #0b4f6c; max-width: 700px; margin-right: auto; margin-left: auto; border-color: #4A1375; border-width: 1px; border-style: solid;">

        <div style="display: block;text-align: center;background-color: #0b4f6c; padding-top: 7px; padding-bottom: 3px;">
            <span style="color: #fff">Bakehouse</span>
        </div>

        <div style="display: block;text-align: center;padding: 20px 70px;">
            <h1 style="font-weight: 800;font-size: 24px;line-height: 120%;text-align: center;color: #0b4f6c;">
                Redefinição de senha
            </h1>
            <p style="font-style: normal;font-weight: normal;font-size: 24px;line-height: 160%;text-align: center;color: #0b4f6c;">
                Olá [[NAME]] :-)
            </p>
            <p style="font-style: normal;font-weight: normal;font-size: 16px;line-height: 160%;text-align: center;color: #0b4f6c;">
                Recebemos uma solicitação para que sua senha fosse redefinida, para redefinir sua senha favor clicar no botão abaixo ou copiar o link em anexo.
            </p>

            <a href=[[LINK]]
               style="font-style: normal;font-weight: bold;font-size: 23px;text-decoration: none;color: #FFFFFF;">
                <div style="text-align: center;color: #FFFFFF;background: #0b4f6c;border-style: 1px solid  #0b4f6c;border-radius: 4px;text-decoration: none;padding: 10px 30px;">
                    Redefinir Senha
                </div>
            </a>
            <p style="font-style: normal;font-weight: normal;font-size: 16px;line-height: 160%;text-align: center;color: #0b4f6c;">
                O
                botão não está funcionando corretamente?<br /><span style="font-size: 14px; ">
                    Copie e cole o link abaixo
                    no seu
                    navegador:
                </span><br /><span style="font-style: normal;font-weight: bold ;font-size: 16px;line-height: 160%;text-align: center;color: #0b4f6c;word-wrap: break-word;">[[LINK]]</span>
            </p>
            <br />
        </div>

        <div style="margin-top:20px;text-align: center;display: block;align-items: center;justify-content: center;background-color: #F1F2F2; padding: 20px 10px;">
            <p style="font-family: 'Open Sans', sans-serif; font-family: 14px;font-style: normal;font-weight: normal;font-size: 23px;line-height: 31px;text-align: center;letter-spacing: 0.01em;color: #0b4f6c;
                ">
                Ficou com alguma dúvida? <a style="text-decoration: underline;color: #0b4f6c" href="mailto:contato@secondmind.com.br">
                    Fale com a
                    gente.
                </a>
            </p>
            <span>Equipe de suporte Bakehouse</span>
        </div>

    </div>
</body>

</html>